<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button button-block button-assertive" ng-click="turnOn('red')">
      RED
    </button>
    <button class="button button-block button-balanced" ng-click="turnOn('green')">
      GREEN
    </button>
    <button class="button button-block button-positive" ng-click="turnOn('blue')">
      BLUE
    </button>
    <button class="button button-block button-energized" ng-click="turnOn('yellow')">
      YELLOW
    </button>
    <button class="button button-block button-stable" ng-click="turnOn('white')">
      WHITE
    </button>
    <button class="button button-block button-dark" ng-click="turnOn(false)">
      OFF
    </button>

  </ion-content>
</ion-view>
